ant-layout-header header {
  text-align: 'center';
  color: '#fff';
  height: 64;
  padding-inline: 50;
  line-height: '64px';
  background-color: '#7dbcea';
}

.ant-menu-item-selected {
  background-color: #fff !important;
  color: #252D42 !important;
}

.ant-menu-item {
  width: 80% !important;
}

.ant-menu-item-active {
  background-color: #0d1427 !important;
}

.ant-btn {
  border-radius: 50px !important;
}